

.Editor .viewState-mark {
    display: inline-block;
    pointer-events: auto;
    cursor: pointer;
    background: yellow;
}


.Editor p {
    color: rgba(90, 90, 90);
    opacity: 0.8;
    font-size:  x-large;

}

[contenteditable]:focus {
    outline: none;
}
